<div class="social_login">
  <%= link_to 'LINEでログイン', user_line_omniauth_authorize_path, class: 'btn btn-line fab fa-line btn-success' %>
  <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, class: 'btn google fab fa-google btn-danger' %>
</div>

